@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap");

* {
  font-family: 'Poppins', sans-serif;
  user-select: none;
}

body {
  background: #285ca1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100vh;
  margin: 0;
}

.back-button {
  margin: 20px;
  color: #fff;
  background-color: #1e4a7e;
  border: none;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 16px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  position: absolute;
  top: 10px;
  left: 10px;
}

.back-button:hover {
  background-color: #163a5e;
}

.arrow-left {
  width: 0;
  height: 0;
  border-top: 8px solid transparent;
  border-bottom: 8px solid transparent;
  border-right: 12px solid white; /* Changed to left arrow */
  margin-right: 10px; /* Added margin to separate arrow from text */
}

.ctr {
  display: flex;
  justify-content: center;
  align-items: center;
}

.tabel {
  width: 480px;
  height: 480px;
  background: #76afd6;
  border-radius: 100%;
  border: 1px solid #0d152b;
  box-shadow: -2px 20px 0 -3px #4283c4, -20px 20px #0d152b;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.board {
  width: 369.2307692308px;
  height: 369.2307692308px;
  background: #d3e2ea;
  border-radius: 20px;
  border: 1px solid #0d152b;
  box-shadow: -10px 5px 0px -2px #192852;
  display: grid;
  grid-template-rows: repeat(3, 1fr);
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 8px;
  padding: 12px;
}

.board > span {
  background: #76afd6;
  color: #fff;
  font-size: 4em;
  padding-left: 9px;
  padding-top: 6px;
  text-align: center;
  border: 2px solid #0d152b;
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.2s ease;
  box-shadow: -1.2px 2px 0px 0px #141d4c;
}

.board > span:hover {
  background: #6aa8d2;
}

.board > span:active {
  box-shadow: -1.2px 7.4px 0px -2.5px #141d4c;
}

#reset {
  margin-top: 14px;
  color: #fff;
  background-color: #1e4a7e;
  border: none;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

#reset:hover {
  background-color: #163a5e;
}

.win {
  background: #55efc4 !important;
}

.message {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(255, 255, 255, 0.9);
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  text-align: center;
  font-size: 2em;
  color: #285ca1;
  z-index: 9999;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}

.message.show {
  opacity: 1;
}

.copyright {
  background-color: #333;
  color: white;
  padding: 10px;
  text-align: center;
}

.copyright a {
  color: #1E90FF;
  text-decoration: none;
}

copyright a:hover {
  color: #6495ED;
}
